.header {
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
}

.header img{
    height: 2.5rem; 
}

.header strong {
    font-size: 2rem;
    padding-left: 0.875rem;
    color: var(--purple-300);
    justify-content: center;
    margin-top: 0.1rem;
}